#friends-names-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--verylightgray);
    color: var(--deepgray);
}
#friends-names-display i {
    padding: 0 0.5rem;
    color: var(--lightgray);
}

.friends-screen {
    padding: 0 var(--horizontal-space);
}
.friends-screen__channel__header {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 0.1rem solid var(--lightgray);
    color: var(--darkgray);
}